<footer id="footer" class="footer text-light">
    <div class="container" >
        <div class="row pt-2" >
            <div class="col-md-12 text-center ">
                <h4 class='font-weight-bold'>Síguenos en redes sociales:</h4>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/TourSpotter" target="_blank">
                            <i class="fab fa-facebook-f" ></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com/TourSpotter" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/TourSpotter" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <p class="">© 2023 TourSpotter. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
