{% extends 'base.html' %}

{% block title %}<title>TourSpotter - Chile</title>{% endblock  %}

{% block content %}
{% load static %}
    <!-- Encabezado -->
    <div class="container p-5" id="first">
        <h1 class="p-3">Descubre los mejores lugares turísticos de Chile</h1>
        <img class="pb-3" src="{% static 'img/logo.png' %}" alt="">
        <p class="pb-3">Desde el extremo norte con el desierto más árido del mundo, hasta el sur austral con hielos eternos y cascadas invertidas, Chile es una invitación difícil de rechazar. Conoce el turismo en Chile, y asómbrate con las experiencias en el extremo sur del mundo.</p>
    </div>

    <div class="separador-container">
        <hr class="separador">
    </div>

    
    <!-- Ciudades -->
    <div class="ciudades-container">
        <h1 class="p-3" id="first">Ciudades</h1>

        

        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'img/santiago.jpg' %}" alt="Lugar turístico" class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <h2>Santiago</h2>
                        <p class="lead">La capital de Chile, conocida por su vibrante vida urbana, su rica cultura y su arquitectura histórica.</p>
                        <a href="#" class="btn btn-primary">Descubrir</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Valparaíso</h2>
                        <p class="lead">Una ciudad portuaria llena de color y encanto, famosa por sus cerros, sus ascensores y su arte callejero.</p>
                        <a href="#" class="btn btn-primary">Descubrir</a>
                    </div>
                    <div class="col-md-6">
                        <img src="{% static 'img/valparaiso.jpg' %}" alt="Lugar turístico" class="img-fluid rounded">
                    </div>
                </div>
            </div>
        </section>

        <section class=" py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'img/puertovaras.jpg' %}" alt="Lugar turístico" class="img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <h2>Puerto Varas</h2>
                        <p class="lead">Ubicada en el sur de Chile, rodeada de hermosos lagos y volcanes, es un destino ideal para los amantes de la naturaleza.</p>
                        <a href="#" class="btn btn-primary">Descubrir</a>
                    </div>
                </div>
            </div>
        </section>
    </div>


    
{% endblock  %}



