<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand navbar-title" href="#">
      {% load static %}
      <img src="{% static 'img/favicon/favicon-32x32.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      TourSpotter.cl
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" href="">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/ciudades">Ciudades</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/chile">Sobre Chile</a>
          </li>
          <li class="nav-item">
              <a class="nav-link disabled" href="/about">Sobre Nosotros</a>
          </li>
      </ul>
  </div>
</nav>