*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../img/bg.png');   
}
  
.navbar-nav .nav-link {
    color: white !important;
}

.navbar-title {
    color: white !important;
}

h1 {
    color: white;
}

p {
    color: white;
}

#first {
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.btn-primary {
    background-color: purple;
    border-color: purple;
}

.btn-primary:hover {
    background-color: #5500aa;
    border-color: #4f0055;
}

.separador {
    height: 1px ;
    background-color: #747171 ;
    margin: 20px 0 ;
}

.separador-container {
    width: 100%; 
    margin: 0 auto; 
}
  
.ciudades-container {
    color: #fff;
}

.navbar-nav .nav-item.active > .nav-link {
    color: purple !important;
    background-color: #fff;
    font-size: 1.05rem;
}

.card-img-top {
    height: 250px;
}

.custom-button {
    transition: background-color 0.3s ease-in-out;
}

.custom-button {
    /* Estilos del botón */
    position: relative;
    overflow: hidden;
}

.equal-height-row {
    display: flex;
    flex-wrap: wrap;
}

.equal-height-row .card {
    flex: 1 0 100%;
}